<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<br />
<h1>NCB Commercial Batch Request Dowload report</h1>
<br />

<form>
    </br>
    <div class="dropdown show" style="float:right;">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Uploadreview">Upload review</a>
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Downloadreport">Download report</a>
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ExporttoNCB">Export to NCB</a>
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Importncb">Import from NCB</a>
        </div>
    </div>

</form>